 img {
    width:100%;
    border-radius:8px;
    aspect-ratio: 3/2;
}

.card-body {
    padding: 1.5rem 1.5rem;
    margin-left: 0.5rem;
}



.add-card {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    padding: 1rem;
    display: block;
    margin-left: auto;
    width:fit-content;
    cursor: pointer;


}

.add-card:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 10%;
    padding-left: 150%;
    margin-left: -20px!important;
    margin-top: -20%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .add-card:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .qty {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
  }

  .qty label {
    margin-right: 1rem
  }

  select {
    border: 1px solid #DDD;
    border-radius: 4px 4px 4px 4px;
    padding: 3px;
    cursor: pointer;

  }

  footer {
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;


  }