.head-link{
    background-color: blue;
    padding: 1rem;
    border-radius: 5px;
    width:fit-content;
    text-decoration: none;
    color:white;
}

 .head-link:hover {
    color: rgb(66, 62, 62);
    background-color: lightcoral;

}

article {
    display: flex;
    flex-direction: column;
    padding:4rem 15rem;
    row-gap: 2rem;

}

input {
    border: 1px solid lightgrey;
    border-radius: 3px;
    height: 4.5rem;
    width: 100%;
}

input::placeholder {
    text-indent: 2rem;
}

a {
    text-decoration: none;
}

th {
    text-align: left;
}

th, td {
    padding: 1rem;
    text-indent: 2rem;
    border: none;
}



table {
    border-collapse: collapse;

}

