<div class="card">
  <h1>Order Summary</h1>
  <p class="cart-text">
    You have <strong>{{ cart.count }}</strong> items in your shopping cart.
  </p>
  <ul>
    <li *ngFor="let item of cart.items">
      {{ item.quantity }} x {{ item.product.title }}
      <div class="price">
        {{ item.product.price * item.quantity | currency : "USD" }}
      </div>
    </li>
    <li class="total">
      Total
      <div class="price">{{ getTotalCost() | currency : "USD" }}</div>
    </li>
  </ul>
</div>
